.aboutCard {
   width: 100%;
   height: auto;
   padding: 10px 30px;
   margin: 10px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   -webkit-box-shadow: -2px -1px 29px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: -2px -1px 29px 0px rgba(0, 0, 0, 0.75);
   box-shadow: -2px -1px 29px 0px rgba(0, 0, 0, 0.75);
}
.aboutCardHeading {
   font-size: 30px;
   padding-bottom: 5px;
}
.aboutCardText {
   font-size: large;
   font-weight: 500;
}

.DevCardsColumns {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   width: 100%;
   height: 100%;
}

.linkItem {
   text-decoration: none;
}

.DevCardsColumnsCard {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 20px 10px;
   -webkit-box-shadow: -2px 0px 33px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: -2px 0px 33px 0px rgba(0, 0, 0, 0.75);
   box-shadow: -2px 0px 33px 0px rgba(0, 0, 0, 0.75);
}

.topbarLinearGradient {
   background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 43, 0.7147233893557423) 35%,
      rgba(0, 212, 255, 1) 100%
   );
}

.linkContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2%;
}

.customLink {
   text-decoration: none;
   padding: 10px;
}

.closeIconButton {
   padding: 20px;
   padding-top: 10%;
   border-radius: none;
   text-decoration: none;
   background-color: aliceblue;
   color: brown;
}
.closeIcon {
   font-size: 30px;
}
