* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* styles/globals.css */

/* WebKit (Chrome, Safari) scrollbar */
::-webkit-scrollbar {
   width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
   background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
   background-color: #888; /* color of the scrollbar itself */
   border-radius: 5px; /* roundness of the scrollbar */
}
