* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* styles/globals.css */

/* WebKit (Chrome, Safari) scrollbar */
::-webkit-scrollbar {
   width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
   background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
   background-color: #888; /* color of the scrollbar itself */
   border-radius: 5px; /* roundness of the scrollbar */
}
/* 
html {
   font-family: var(--font-inter);
} */

body {
   background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 43, 0.7147233893557423) 35%,
      rgba(0, 212, 255, 1) 100%
   );
}

h1 {
   font-family: var(--font-roboto);
}
